body
{
	background-image:url("../imgremedialUASGenap/night.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-style: italic;
	font-family: sans-serif;
}

h1
{
	color: blue;
	text-shadow: 5px 6px lightblue;
}

p
{
	color: yellow;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 100px;
	margin-left: 100px;
	text-shadow: 4px 3px fuchsia;
}
